<div class="container-fluid"
     style="display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;position: absolute;">
  <div style="width: 35%;background: whitesmoke;border-radius: 2%;padding: 2%">
    <form [formGroup]="loginForm">
      <div class="text-center" style="padding: 2%"><h5>Login into your Organization</h5></div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input aria-describedby="emailHelp" class="form-control" formControlName="email" id="exampleInputEmail1"
               type="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input class="form-control" formControlName="password" id="exampleInputPassword1" type="password">
      </div>
      <div class="form-group" style="display: flex; justify-content: flex-end">
        <a href="" style="font-size: small">Forgot Password?</a>
      </div>
      <div class="form-group" style="display: flex; justify-content: flex-end">
        <button (click)="loginOnClick()" [disabled]="loginForm.invalid" class="btn btn-sm btn-primary" style="margin-right: 2%"
                type="button">
          Submit
        </button>
        <button (click)="restOnClick()" class="btn btn-sm btn-secondary" type="button">
          Reset
        </button>
      </div>
      <div class="form-group" style="display: flex; justify-content: center">
        <a [routerLink]="'/createOrganization'" class="text-center" href="">Create New Organization</a>
      </div>
    </form>
  </div>
</div>
