<div class="container-fluid" style="display: flex; justify-content: center; align-items: center;position: absolute; height: 100%;width: 100%;">
  <div style="width: 70%;background: whitesmoke">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" disabled style="color: dodgerblue;opacity: 1">
              Create Admin User
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body" style="padding: 0 10%">
            <div style="text-align: center;padding: 2%">Please Enter your details</div>
            <form [formGroup]="createAdminUser">
              <div class="row">
                <div class="col">
                  <label>
                    <input type="text" class="form-control" placeholder="First name" formControlName="firstName" autocomplete="off">
                  </label>
                </div>
                <div class="col">
                  <label>
                    <input type="text" class="form-control" placeholder="Last name" formControlName="lastName" autocomplete="off">
                  </label>
                </div>
              </div>
              <div class="row"><h1></h1></div>
              <div class="row">
                <div class="col">
                  <label>
                    <input type="text" class="form-control" placeholder="Email" formControlName="email" autocomplete="off">
                  </label>
                </div>
              </div>
              <div class="row"><h1></h1></div>
              <div class="row">
                <div class="col">
                  <label>
                    <input type="text" class="form-control" placeholder="Phone Number" formControlName="phone" autocomplete="off">
                  </label>
                </div>
              </div>
              <div class="row"><h1></h1></div>
              <div class="row">
                <div class="col">
                  <label>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" autocomplete="off">
                  </label>
                </div>
                <div class="col">
                  <label>
                    <input type="password" class="form-control" placeholder="Retype Password" formControlName="retypePassword" autocomplete="off">
                  </label>
                </div>
              </div>
              <div class="row"><h1></h1></div>
              <div class="row"><h1></h1></div>
              <div class="row"><h1></h1></div>
              <div class="row">
                <div class="col" style="display: flex;flex-direction: row; justify-content: flex-end;">
                  <button type="button" class="btn btn-sm btn-primary" style=" margin: 0 5%" [disabled]="createAdminUser.invalid" (click)="createAdmin()">
                    Submit
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary">
                    Reset
                  </button>
                </div>
              </div>
              <div class="row"><h1></h1></div>
              <div class="row" *ngIf="errorMessage.length > 0"><h1></h1></div>
              <div class="row" *ngIf="errorMessage.length > 0" style="display: flex; flex-direction: row; justify-content: center;color: red">{{errorMessage}}</div>
              <div class="row" *ngIf="errorMessage.length > 0"><h1></h1></div>
              <div class="row"><h1></h1></div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" disabled style="color: dodgerblue;opacity: 1">
              Verify User
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <form [formGroup]="OTPVerification">
              <div class="row">
                <div class="col">
                  <label style="text-align: center">
                    Verify your OTP
                  </label>
                </div>
                <div class="col">
                  <label>
                    <input type="text" class="form-control" placeholder="Enter 6 digits OTP" formControlName="otpField" maxlength="6">
                  </label>
                </div>
                <div class="col" style="display: flex; flex-direction: row; align-items: center">
                  <button class="btn btn-primary btn-sm" [disabled]="OTPVerification.invalid" (click)="OTPVerify()">Verify OTP</button>
                </div>
              </div>
              <div class="row" *ngIf="errorOTPMessage.length > 0"><h1></h1></div>
              <div class="row" *ngIf="errorOTPMessage.length > 0" style="display: flex; flex-direction: row; justify-content: center;color: red">{{errorOTPMessage}}</div>
              <div class="row" *ngIf="errorOTPMessage.length > 0"><h1></h1></div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" disabled style="color: dodgerblue;opacity: 1">
              Create Organization
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <form [formGroup]="createOrganization">
              <div class="form-group">
                <label for="exampleInputEmail1">Organization Name</label>
                <input type="email" class="form-control" formControlName="organizationName" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Please Enter Unique Name.</small>
              </div>
              <button type="submit" class="btn btn-primary btn-sm" (click)="createOrganizationFunc()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
